<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="row">
        <div class="container">
            <div>
                <p> ToooApp is a task management tool that helps users organize, track, and complete tasks
                    efficiently. It
                    allows users
                    to create a list of tasks, set priorities, and mark tasks as completed once done. The app's primary
                    goal
                    is to improve
                    productivity and ensure that users can manage their time effectively by keeping all tasks in one
                    place.
                </p>
            </div>
        </div>
    </div>
</body>

</html>